.App {
  /*margin: 0px auto;*/
}

.trn {
  display: flex;
  padding: 0px 20px;
  flex-direction: row;
}

.trn-box {
  flex: auto;
  padding: 0px 8px;
  box-sizing: border-box;
  width: 50%;
}

.trn-card {
  margin: 4px 0px;
}

.uid-box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: column;
}

.uid-box-button {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  /*margin-inline-start: 4px;*/
  width: 100%
}

@media (max-width: 840px) {
  .trn {
    flex-direction: column;
    padding: 0px 12px;
  }
  
  .trn-box {
    width: 100%;
  }
  /*
  .uid-box {
    flex-direction: column-reverse;
  }*/
  
  /*.uid-box-button {
    width: 100%;
  }*/
}

.result {
  margin-top: 16px;
}

.trn-title {
  display: flex;
  justify-content: space-between;
}

.trn-title button {
  margin: unset !important;
  position: unset !important;
}