.App {
  margin: 0px auto;
}

.trn {
  display: flex;
  padding: 0px 20px;
  flex-direction: row;
}

.trn-box {
  flex: auto;
  margin: 0px 8px;
  flex-basis: 0;
}

.uid-box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.uid-box-button {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-inline-start: 4px;
}

@media (max-width: 840px) {
  .trn {
    flex-direction: column;
  }
  
  .uid-box {
    flex-direction: column-reverse;
  }
  
  .uid-box-button {
    width: 100%;
  }
}

.result {
  margin-top: 16px;
}

.trn-title {
  display: flex;
  justify-content: space-between;
}

.trn-title button {
  margin: unset !important;
  position: unset !important;
}