@import './theme';

@import '@material/react-chips/index';
@import '@material/react-material-icon/index';
@import "@material/typography/mdc-typography";
@import '@material/react-menu-surface/index';

.other-names {
  font-style: italic;
  margin-inline-start: 8px;
}
  
.lv-info {
  display: flex;
  align-items: center;
  margin-block-end: 8px;
}
  