.don-button {
    background-color: var(--mdc-theme-background, #ffffff) !important;
    color: #000000 !important;
}

#more-menu {
    margin-block-start: 8px;
    margin-inline-end: 8px;
}

.toolbar-section {
    
}