.trn-row {
  block-size: 40px !important;
  /*display: flex;*/
  /*align-items: center;*/
}

.trn-row td {
  text-align: start !important;
  block-size: 40px !important;
}

/* .bon-bar-cell {
  inline-size: 48px;
  padding: unset !important;
} */


.graph-button-cell {
  min-inline-size: 36px;
  padding: 2px !important;
  padding-inline-end: 24px !important;
}

.graph-button {
  inline-size: 24px;
  block-size: 24px;
  margin: unset;
  margin-inline-end: 12px;
  padding: 4px;

}

.bon-bar-background {
  min-inline-size: 48px;
  block-size: 16px;
  border-radius: 4px;
  overflow: hidden;
  margin-inline-end: 32px;
}

.bon-bar {
  block-size: 100%;
  border-radius: inherit;
}


.trn-cell {
  font-size: 16px !important;
}

.trn-summary {
  list-style: none;
}

.trn-summary::-webkit-details-marker {
  display: none;
}

.back-translations {
  color: grey;
}