/* .trn-row {
  block-size: 40px !important;
  display: flex;
  align-items: center;
}

.trn-row td {
  text-align: start !important;
  block-size: 40px !important;
} */

.bon-bar-cell {
  margin-inline-end: 32px;
}

.bon-bar-cell-dense {
  margin-inline-end: 8px;
  transform: scale(0.812);
}

.graph-button-cell {
  min-inline-size: 36px;
  padding: 2px !important;
  padding-inline-end: 24px !important;
}

.graph-button {
  inline-size: 24px;
  block-size: 24px;
  margin: unset;
  margin-inline-end: 12px;
  padding: 4px;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 840px) {
  .bon-bar-cell {
    margin-inline-end: 12px !important;
  }
}

.bon-bar-background {
  block-size: 16px;
  inline-size: 48px;
  border-radius: 4px;
  overflow: hidden;
}

.bon-bar {
  block-size: 100%;
  border-radius: inherit;
}

.trn-cell {
  font-size: 16px !important;
}

.trn-summary {
  list-style: none;
}

.trn-summary::-webkit-details-marker {
  display: none;
}

.back-trn-container {
  padding-inline-start: 16px;
}

.back-trn-item {
  height: unset !important;
}