@import './theme';
@import '@material/react-list/index';
@import '@material/react-icon-button/index';
@import '@material/react-material-icon/index';
@import '@material/react-button/index';
@import "@material/button/mixins";

/* .trn-row {
  block-size: 40px !important;
  display: flex;
  align-items: center;
}

.trn-row td {
  text-align: start !important;
  block-size: 40px !important;
} */

.bon-bar-cell {
  margin-inline-end: 18px;
  inline-size: 48px;
  overflow: visible;
}

.bon-bar-cell-dense {
  margin-inline-end: 8px;
  transform: scale(0.812);
}

.graph-button-cell {
  min-inline-size: 36px;
  padding: 2px !important;
  padding-inline-end: 24px !important;
}

.pl-button {
  margin: unset;
  padding: 4px;
  cursor: pointer;
  /* user-select: none; */
  border: none;
  background-color: white;
  display: flex;
}

.pp-button {
  // @include mdc-button-filled-accessible($mdc-theme-secondary);
  // @include mdc-button-horizontal-padding(6px);
  // margin-inline-end: 12px;
  // min-width: unset;
}

.def-button {
  margin-inline-start: auto;
  block-size: 32px;
}

@media (max-width: 840px) {
  .bon-bar-cell {
    margin-inline-end: 12px !important;
  }
}

.bon-bar-background {
  block-size: 16px;
  inline-size: 48px;
  border-radius: 4px;
  overflow: hidden;
  background-color: $mdc-theme-secondary;
}

.bon-bar {
  block-size: 100%;
  border-radius: inherit;
  background-color: $mdc-theme-primary;
}

.trn-cell {
  font-size: 16px !important;
}

.trn-summary {
  list-style: none;
}

.trn-summary::-webkit-details-marker {
  display: none;
}

.back-trn-container {
  padding-inline-start: 16px;
}

.back-trn-item {
  height: unset !important;
}

.lang-circles {
  display: flex;
  flex-direction: row;
  margin-inline-end: 8px;
}

.lang-circle {
  min-inline-size: 8px;
  min-block-size: 8px;
  border-radius: 4px;
}